* {
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

body {
    background-color: rgb(44, 44, 44);
}

a {
    color: white;
    text-decoration: none;
}

/* health */
.health__wrapper {
    display: grid;
    grid-template-rows: repeat(1fr);
    gap: 2rem;
    width: 360px;
    margin: 0 auto;
    place-items: center;
}

.health__wrapper > h1 {
    text-align: center;
}

.character__wrapper {
    display: flex;
    justify-content: center;
    width: 360px;
    border-radius: 7px;
    background: rgb(36, 108, 190);
}

.character__wrapper > p {
    font-size: 2rem;
    margin-right: 10px;
}

.health-button {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.character__wrapper > input {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    width: 4rem;
    text-align: center;
}

/* battle */
.battle__wrapper > h1, h2 {
    text-align: center;
}

.player__wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-width: 500px;
    background-color: rgb(94, 59, 41);
    align-items: center;
    border-radius: 7px;
}

.grid__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player__wrapper > p {
    font-size: 1.2rem;
    margin: 1rem;
}

.player__wrapper > input {
    height: 2rem;
}

.player__wrapper ::placeholder {
    color: white;
}

.player__name {
    color: black;
    font-size: 1.2rem;
    max-height: 1.5rem;
    max-width: 6rem;
    border-radius: 5px;
    margin: 5px;
}

.grid__wrapper > p {
    text-align: center;
}

.total__title {
    font-size: 1.3rem;
}

.dice__number, 
.weapon,
.damage,
.total {
    width: 2rem;
    background: none;
    border: none;
    font-size: 1.2rem;
}

/* number input no arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* poison */
.poison__wrapper {
    background: rgb(153, 195, 153);
    width: 360px;
    margin: 30px auto;
    border-radius: 7px;
}

.poison__wrapper div, label {
    color: black;
}

.add__poison__food {
    display: grid;
    grid-template-rows: 1fr repeat();
    margin: 10px auto;
    width: 400px;
}

.food__number__wrapper {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 300px;
    align-items: center;
}

#food__number {
    height: 30px;
    width: 200px;
    margin: 20px auto;
    color: black;
}

.poison__row2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.poison__check {
    margin: 10px;
    height: 20px;
    width: 20px;
}

.poison__check:hover {
    cursor: pointer;
}

#poison__add__button {
    color: black;
    height: 25px;
    width: 50px;
    margin: 20px auto;
}

.added__section {
    display: grid;
    grid-template-rows: 1fr rep();
    width: 400px;
    margin: 10px auto;
}

.added__poison__food {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.added__food__number {
    color: white;
    padding: 5px;
    border-radius: 2px;
}

.red__poison {
    background: rgb(227, 49, 49);
}

.green__poison {
    background: rgb(46, 146, 46);
}

.purple__poison {
    background: rgb(164, 49, 164);
}

.poison__delete__button {
    margin: 10px;
    color: black;
}


/* bondage */
.bondage__wrapper {
    background: black;
    width: 500px;
    margin: auto;
    border-radius: 10px;
}

.add__bondage__pair {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    margin: auto;
    padding: 20px;
}

#bondage__add__button {
    color: black;
}

.bondage__delete__button {
    color: black;
}

.added__bondage {
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin: 20px auto;
}

#bondage__with {
    height: 1.7rem;
    color: black;
    font-size: 1.1rem;
    width: 60px;
    border-radius: 5px;
}


/* sailing */
.sailing__wrapper {
    margin: 20px auto;
    width: 350px;
    background-color: rgb(53, 82, 160);
    border-radius: 7px;
}

.sailing__wrapper > h1 {
    padding-top: 5px;
    text-align: center;
    color: white;
    font-size: 2.5rem;
}

.sailing__btn__wrapper {
    width: 50%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.sailing__button {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.sailing__input {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    width: 4rem;
    text-align: right;
    text-align: center;
    padding-left: 14px;
}

.end__card {
    width: 350px;
    height: 100px;
}